body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    padding-bottom: 70px;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

h1, h2, h3 {
    color: #e8e9eb;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

#headerButtonGroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
}

.btn-custom {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

p, ul {
    color: white;
}

a {
    color: #4e5d6d;
}

.sidebar-item {
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: #000000;
    padding: 10px;
    opacity: 0.7;
}

.sidebar-item .content {
    display: none;
    padding: 10px;
}

.sidebar-item:hover .content {
    display: block;
}

.sidebar-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    text-wrap: wrap;
    text-size-adjust: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

@media (max-width: 768px) {
    .navbar .ml-auto {
        flex-wrap: wrap; /* Allow items to wrap to next line if needed */
    }

    .display-5 {
        font-size: 1.5rem;
        text-align: center;
    }

    .btn-group {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center; /* Center items horizontally */
    }

    .btn-custom {
        margin: 5px;
        padding: 5px 10px; /* Reduce padding for smaller screens */
    }

    .fab {
        font-size: 1.5rem;
        margin: 5px;
    }

    .sidebar-item {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .sidebar-item {
        padding: 5px;
    }

    .sidebar-item h2 {
        font-size: 1.25rem;
    }

    .sidebar-item h3 {
        font-size: 1rem;
    }

    .sidebar-item p, .sidebar-item ul {
        font-size: 0.875rem;
    }

    .footer {
        font-size: 0.875rem;
    }

    #profilePic {
        width: 50px;
        height: 50px;
    }
}
